html {
 width: 100%;
 height: 100%;
 margin: 0px;
 padding: 0px;
 background-color: #999999;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.tries {
  width: 33%;
  height: 100%;
}

#graph {
  width: 100%;
  height: 100%;
}

/*
#main {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px;
}

div {
}
*/
